@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

#main {
    height: 100%;
    background-color: black;
}

table {
    width: 100%;
    border-spacing: 0px;
    padding: 2rem;
}

td {
    color: white;
    border-bottom: 1px solid white;
    padding: 2rem;
}

tr {
    border-bottom: 5px solid white;
}